#**
Input fields :
translationNamese - List<String>
funcsUtil - FunctionUtils
*#
## loop thro' translation list
#foreach($translName in $translationNames)
## get primitive
#set ( $translation = $funcsUtil.getTranslation($translName))
## Get Translation Model
#set ( $translationModel = $funcsUtil.getTranslationExpression($translation))
#set ( $functionName = $translationModel.getFunctionName())
Translation Name : $functionName
Description : $translationModel.getDesc()

## get Column meta data
#set ( $columnMetaData = $translationModel.getColumnMetaData())
	Table Meta Data : 
		Column Name,Type,Size
#set ( $columns = $columnMetaData.getColumns())
#foreach($column in $columns)
		$column.getDisplayName(),#if($column.getColType()==1)String#else.Number#end,$column.getColSize()
#end

## get variations from translation model
#set ( $variations = $translationModel.getVariations())
	Variations : 
		Variation Name,Input columns,Output Column,Description
#foreach($variation in $variations) 
#set ( $inputColumns = $variation.getInputColumns())
#set ($sb = $variation.getHandlerClass() + ",")
#foreach($inputColumn in $inputColumns)
#set ($sb = $sb + $columnMetaData.getColumnDisplayName($inputColumn) + ";")
#end ## end of input columns
## remove last char
##set ($length = $sb.length() - 1)
#set ($sb = $sb.substring(0, $sb.lastIndexOf(";")) + ",")
#set ($sb = $sb + $columnMetaData.getColumnDisplayName($variation.getOutputColumn()))
#set ($sb = $sb + ",")
#set ($sb = $sb + $variation.getVarDesc())
		$sb.toString()
#end ## end of variations

#set( $columns = $columnMetaData.getColumns())
#set ($sb = "")
	Data : 
#foreach($tlColumn in $columns) 
#set ($sb = $sb + $tlColumn.getDisplayName() + ",")
#end ## end of data columns
#if($sb.endsWith(","))
		$sb.substring(0, $sb.lastIndexOf(","))
#else
		$sb
#end ## end of if
#set ($data = $translationModel.getData())
#foreach($tlJets in $data)
		$tlJets.toData(",")
#end## end of data
#end## enf of translation names