<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "log4j.dtd" "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<!-- Pattern to output the caller's file name and line number -->
			<!-- param name="ConversionPattern" value="%d %p[%c] - %m%n" /-->
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="logfile" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="info"/>
		<param name="file" value="C:/XMLG/WMA/logs/XmlgDesigner.log" />
		<param name="MaxFileSize" value="512KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c - %m%n" />
		</layout>
	</appender>

	<appender name="exportOutFile" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="info"/>
		<param name="file" value="C:/XMLG/WMA/logs/ExportOut.log" />
		<param name="MaxFileSize" value="512KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- param name="ConversionPattern" value="%d %p %c - %m%n" /-->
		</layout>
	</appender>

	<appender name="exportErrFile" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="info"/>
		<param name="file" value="C:/XMLG/WMA/logs/ExportErr.log" />
		<param name="MaxFileSize" value="512KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- param name="ConversionPattern" value="%d %p %c - %m%n" /-->
		</layout>
	</appender>

	<appender name="importOutFile" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="info"/>
		<param name="file" value="C:/XMLG/WMA/logs/ImportOut.log" />
		<param name="MaxFileSize" value="512KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c - %m%n" />
		</layout>
	</appender>

	<appender name="importErrFile" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="info"/>
		<param name="file" value="C:/XMLG/WMA/logs/ImportErr.log" />
		<param name="MaxFileSize" value="512KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c - %m%n" />
		</layout>
	</appender>
	

	<logger name="com.csc.fsg.life.xg">
		<level value="info" />
	</logger>

	<logger name="com.csc.fsg.life.xg.import.out" additivity="false">
		<level value="info" />
		<!-- appender-ref ref="importOutFile"/-->
	</logger>

	<logger name="com.csc.fsg.life.xg.import.error" additivity="false">
		<level value="info" />
		<!-- appender-ref ref="importErrFile"/-->
	</logger>

	<logger name="com.csc.fsg.life.xg.export.out" additivity="false">
		<level value="info" />
		<!-- appender-ref ref="exportOutFile"/-->
	</logger>

	<logger name="com.csc.fsg.life.xg.export.error" additivity="false">
		<level value="info" />
		<!-- appender-ref ref="exportErrFile"/-->
	</logger>

	<!-- Loggers for  iBATIS -->
	<logger name="com.ibatis" additivity="false">
		<level value="debug" />
	</logger>

	<!-- Loggers for sql -->
	<logger name="java.sql" additivity="false">
		<level value="debug" />
	</logger>
	<root>
		<priority value="info" />
		<appender-ref ref="stdout" />
		<!-- appender-ref ref="logfile" /-->
	</root>
</log4j:configuration>