#**
Input fields :
cTransformationNames - List<String>
funcsUtil - FunctionUtils
*#
## loop thro' list
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Complex Transformations Report</title>
</head>
<body>
	<h1 align="center">Transformations Report</h1><hr>
#foreach($transfName in $cTransformationNames)
## get primitive
#set ( $transformation = $funcsUtil.getComplexTransformation($transfName))
	<b>Transformation Name : $transformation.getHandlerClassPath()</b> <br>
#set ($desc = $transformation.getDescription())
	Description : #if($desc != $null) $desc #end<br>
	Expression : 
	<textarea style="width: 90%; height: 300px">$transformation.getExpressionClass()</textarea>
    <hr/>
#end## enf of translation names
</body>
</html>    
